body {
    background-image: var(--background-image-url, none);
    background-size: 100vw 100vh;
}

#app-mount {
    background-color: var(--background-color);
    backdrop-filter: var(--background-filters, none);
}

/* redundant sidebar bgs... */
.sidebar-1tnWFu, .container-PNkimc, .layer-86YKbF, .sidebarRegionScroller-FXiQOh, .standardSidebarView-E9Pc3j, #app-mount .container-2McqkF, .chat-2ZfjoI {
    background-color: transparent;
}

/* Main areas */
.container-2cd8Mz, .container-2cd8Mz, .pageWrapper-2PwDoS {
    background-color: var(--background-main) !important;
}

/* Boost page */
.perksModal-fSYqOq, .navigationBar-2Z_P4D {
    background-color: transparent !important;
}

/* Floating dialogs and modals */
.contentWrapper-2txmjs, .quickswitcher-pKcM9U, .bodyInner-245q0L, .popout-TdhJ6Z {
    background-color: var(--background-floating) !important;
    box-shadow: var(--elevation-high) !important;
}

.scroller-2qwVWY {
    background-color: var(--background-floating) !important;
}

.footer-1Ip3Sd, .footer-1fjuF6 {
    background-color: var(--background-floating-header) !important;
}

#app-mount .footer-VCsJQY {
    background: transparent;
}

/* Search list */
.option-ayUoaq:hover, .option-ayUoaq[aria-selected=true] {
    background-color: var(--background-channel-hover) !important;
}

.option-ayUoaq:after {
    background: none !important;
}

.queryContainer-ZunrLZ.focused-2FU0YH {
    background: none;
}

/* Channel header in recent mentions */
.channelHeader-DFRX8q {
    background-color: var(--background-sidebar);
    backdrop-filter: blur(10px);
}

/* autocomplete */
#app-mount .autocomplete-3NRXG8 {
    background: var(--modal-background);
}

#app-mount .autocomplete-3NRXG8:before, #app-mount .autocomplete-3NRXG8:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(var(--modal-blur-backdrop));
    z-index: -1;
    top: 0px;
    left: 0px;
}

.autocomplete-3NRXG8 .categoryHeader-OpJ1Ly {
    background: var(--floating-background-popout);
}

.autocomplete-3NRXG8 .categoryHeader-OpJ1Ly::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    backdrop-filter: blur(var(--background-mentions-popout-blur-amount));
}

.autocomplete-3NRXG8 .selected-3H3-RC {
    background: var(--background-channel-hover);
}

.autocomplete-3NRXG8 .autocompleteRowContentPrimary-1kUW9H > div {
    color: var(--interactive-normal);
}

.autocomplete-3NRXG8 .selected-3H3-RC .autocompleteRowContentPrimary-1kUW9H > div {
    color: var(--interactive-active);
}

/* Search box */
.searchBar-zdmu7v {
    background-color: var(--background-textbox);
}

/* Stream preview */
.streamPreview-3qoMP4 {
    background-color: var(--background-floating) !important;
}

.watchButton-2v6cPT {
    border-color: var(--text-normal) !important;
    color: var(--text-normal) !important;
}

.previewContainer-21fFBz {
    background-color: transparent !important;
}

/* Server indicator */
.iconBadge-1D5-9X.base-3IDx3L {
    color: var(--text-normal);
}

/* Unread indicator on messages */
#app-mount .newMessagesBar-1hF-9G {
    background: var(--background-accent);
}

/* Windows titlebar */
.titleBar-1it3bQ.typeWindows-2-g3UY {
    background-color: var(--background-titlebar);
    height: 23px;
    margin: 0;
}

.titleBar-1it3bQ.typeWindows-2-g3UY .winButton-3UMjdg {
    top: 0;
}

/* Scrollbar */
::-webkit-scrollbar-track-piece, .auto-2K3UW5::-webkit-scrollbar-track {
    background-color: transparent !important;
    border: none !important;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--background-scrollbar) !important;
}

/* removes weird out of place shadows */
.form-3gdLxP:before, .children-3xh0VB:after {
    display: none;
}

/* Main Chat Scrollbar background */
.scrollerBase-_bVAAt {
    --scrollbar-auto-track: var(--background-scrollbar-track) !important;
}

/* modal, lights out */
.backdrop-2ByYRN {
    opacity: 1 !important;
    background: none !important;
}

.backdrop-2ByYRN::before, .backdrop-2ByYRN::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(var(--background-lights-out-blur-amount));
}

/* profile modal body background*/
.topSection-13QKHs {
    background: transparent;
}

.body-1Ukv50 {
    background: transparent;
}

/* small profile popout background fix */
.bodyInnerWrapper-2bQs1k {
    background: transparent;
}

/* small profile roles */
.role-2TIOKu {
    border-width: 1px;
    border-style: solid;
}

/* region select background */
.regionSelectModal-12e-57.root-g14mjS {
    background-color: white !important;
}

/* context menu, emoji popout, user profile popout */
#guild-header-popout, #app-mount .userPopoutInner-1hXSeY, .drawerSizingWrapper-1txdWG, .userPopout-2j1gM4, #app-mount .container-2McqkF, .layer-2aCOJ3 #emoji-picker-tab-panel, .layer-2aCOJ3>.menu-1QACrS {
    background: var(--modal-background);
    border-radius: var(--modal-border-radius);
    border: var(--modal-border);
}

#guild-header-popout::after, #guild-header-popout::before, .userPopoutInner-1hXSeY::before, .userPopoutInner-1hXSeY::after, .drawerSizingWrapper-1txdWG::before, .drawerSizingWrapper-1txdWG::after, .userPopout-2j1gM4::before, .userPopout-2j1gM4::after, #app-mount .container-2McqkF::after, #app-mount .container-2McqkF::before, .layer-2aCOJ3 #emoji-picker-tab-panel::after, .layer-2aCOJ3 #emoji-picker-tab-panel::before, .layer-2aCOJ3>.menu-1QACrS::after, .layer-2aCOJ3>.menu-1QACrS::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(var(--modal-blur-backdrop));
    border-radius: var(--modal-border-radius);
    z-index: -1;
    top: 0px;
    left: 0px;
}

.overlayBackground-1KgwVi {
    background: transparent;
}

/* fixes for border */
.userPopout-2j1gM4, #app-mount .container-2McqkF {
    border: var(--modal-border);
}

.userPopout-2j1gM4::before, .userPopout-2j1gM4::after, #app-mount .container-2McqkF::after, #app-mount .container-2McqkF::before {
    border: none;
}

/* active video/stream button and any button that has an active state */
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: var(--background-active-button) !important;
}

/* selected radio item background */
.itemFilled-1cPbtg[aria-checked=true] {
    background: var(--background-titlebar);
}

/* pinned/unread/mentions/threads blur background */
.recentMentionsPopout-2bI1ZN::before, .container-18GwIk::before, .messagesPopoutWrap-3zryHW::before, .recentMentionsPopout-2bI1ZN::after, .container-18GwIk::after, .messagesPopoutWrap-3zryHW::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--modal-blur-backdrop));
    z-index: -1;
}

/* unread,pinned,mention,threads popout */
.scroller-145h9c, .recentMentionsPopout-2bI1ZN, .container-18GwIk, .messagesPopoutWrap-3zryHW {
    background: var(--modal-background);
}

/* pinned,mention popout message hover */
.messageContainer-3VTXBC:hover, .messageGroupWrapper-1jf_7C:hover {
    background: var(--background-message-hover);
}

/* unread/mentions popout message hover */
.messageContainer-8dSNjf:hover {
    background: var(--floating-background-popout);
}

/* unread/mentions channel header */
.channelHeader-DFRX8q {
    background: var(--background-main);
    backdrop-filter: blur(var(--background-mentions-popout-blur-amount));
}

/* voice chat user, text chat text input */
.content-1Tgc42 {
    background: var(--background-chatinput-voiceuser-color);
}

/* popout blur backdrop */
.popout-1KHNAq {
    backdrop-filter: blur(var(--background-mentions-popout-blur-amount));
    border: var(--modal-border);
    border-radius: var(--modal-border-radius);
}

/* settings text-area */
.inputWrapper-1YNMmM {
    background-color: var(--background-sidebar) !important;
}

/* missed accent color */
.row-1qtctT:hover {
    background-color: var(--background-accent)
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--background-accent);
}

/* Green buttons */
.lookFilled-yCfaCM.colorGreen-3y-Z79, .circleIconButton-3lUBQk.selected-2tb4pB, .circleIconButton-1VxDrg.selected-2tb4pB, .circleIconButton-3lUBQk.selected-2r1Hvo, .circleIconButton-1VxDrg.selected-2r1Hvo {
    background: var(--background-active-button)
}

.circleIconButton-3lUBQk, .circleIconButton-1VxDrg {
    color: var(--background-active-button);
}

/* settings, right side */
.contentRegion-3HkfJJ {
    background: transparent;
}

/* context menu selected color */
.colorDefault-CDqZdO.focused-3qFvc8 {
    background: var(--background-channel-selected);
}

/* context menu  hover color */
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background: var(--background-accent);
}

/* member list background color */
.members-3WRCEx, .members-3WRCEx>div {
    background: transparent;
}

.container-2o3qEW {
    background: var(--background-secondary-alt);
}

/* Beta tag color fix */
.betaTag-3pnIxA {
    background: var(--background-accent) !important ;
}

/* Modals background and border */
.theme-dark .root-g14mjS:not(.modal-3Crloo), .content-3AIQZv {
    background: var(--modal-background);
    backdrop-filter: blur(var(--modal-blur-backdrop));
    border: var(--modal-border);
    border-radius: var(--modal-border-radius);
}

/* Image Modals border */
#app-mount .modal-3Crloo {
    box-shadow: var(--background-accent) 0 0 15px 1px !important;
    background: var(--background-secondary-alt) !important;
    border-radius: 0;
}

/* server join modal */
.theme-light .root-g14mjS {
    background: white;
}

/*fix result item misplaced gradient*/
#app-mount .option-2KkUJO:after {
    background: transparent;
}

/* fix weird border */
#app-mount .sidebar-1tnWFu {
    border-radius: 0;
}

/* accent colored buttons in settings */
.lookFilled-yCfaCM.colorBrandNew-2-gGsS {
    background: var(--background-accent);
}

/* ditto, hover */
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover {
    background: var(--background-accent-bright);
}

/* radio button circle color */
.radioIconForeground-2BMavi {
    color: var(--background-accent-bright);
}

/* fix rebranded green */
[style*="background-color: hsl(139"] {
    background: var(--background-active-button) !important;
}

/* activity detection message */
.theme-dark .notDetected-2HEmAp {
    background: var(--floating-background-popout);
}

/* event modal background fix */
.contentContainer-BWAau5 {
    background: transparent;
}

/* channel notice banner */
.channelNotice-K4UfZY {
    border: none;
}

/* stops threads increasing in height from mentions */
.mentionsBadge-2ckrKL {
    padding: 2px;
}

/* call screen background */
.callContainer-HtHELf {
    background: var(--background-main);
}

/* channel header */
#app-mount .container-ZMc96U {
    background: var(--background-tertiary);
}

/* offline modal */
.container-2RRFHK::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--background-secondary-alt);
    backdrop-filter: blur(var(--modal-blur-backdrop));
}

/* forum background */
.theme-dark .container-3wLKDe {
    background: var(--background-tertiary);
}

/* forum search bar */
.header-1Uy0p6 {
    background: var(--background-secondary-alt);
}

/* forum search input field */
.titleContainer-2YK93J > .inputWrapper-1YNMmM {
    padding: 2px 15px;
    border-radius: 15px 0 0 15px;
}

/* forum new post button */
.form-25Aujy .submitButton-3B-dZd {
    border-radius: 0 15px 15px 0;
}

/* forum tag list */
.tagList-1CiR0h .clickable-3YTfAq.tag-19iIl1 {
    background: var(--background-secondary-alt);
}

.tagList-1CiR0h .clickable-3YTfAq.tag-19iIl1:hover {
    background: var(--background-secondary);
}

/* forum tag list popout */
.container-2O1UgZ::before, .container-2O1UgZ::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--background-secondary-alt);
    backdrop-filter: blur(var(--modal-blur-backdrop));
    z-index: -1;
}

.container-2O1UgZ {
    background: var(--modal-background);
    backdrop-filter: blur(var(--modal-blur-backdrop));
    border: var(--modal-border);
    border-radius: var(--modal-border-radius);
}

/* forum sort popout */
.popout-1KHNAq.sortPopout-zN4OCq::before, .popout-1KHNAq.sortPopout-zN4OCq::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--background-secondary-alt);
    backdrop-filter: blur(var(--modal-blur-backdrop));
    z-index: -1;
}
