.button-3bklZh, .body-3iLsc4, div.popout-1KHNAq.da-popout.none-2-_0dP.scrollerBase-_bVAAt {
    background-color: var(--background-floating) !important;
}

.headerTop-3C2Zn0, .wrapper-1HIH0j {
    background: var(--background-attachment);
}

.guildIconImage-74OdmM, .root-g14mjS.modal-3Crloo, .button-3bklZh.layer-2aCOJ3, .container-ZMc96U.themed-Hp1KC_, .members-3WRCEx, .chat-2ZfjoI, .footer-31IekZ {
    background-color: var(--background-textbox) !important;
}

.floating-window-titlebar, #bd-editor-controls, .ColorTooltips-body {
    background: var(--background-floating-header) !important;
}

/* member count plugin fix */
#app-mount #MemberCount {
    background: transparent;
    border: none;
    pointer-events: none;
}

/* timestamp autocomplete */
#app-mount .timestamp-formats-selector {
    background: var(--modal-background);
    border-radius: var(--modal-border-radius);
    z-index: 0;
}

#app-mount .timestamp-formats-selector::before, #app-mount .timestamp-formats-selector::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(var(--modal-blur-backdrop));
    border-radius: inherit;
    border: var(--modal-border);
    z-index: -1;
    top: 0px;
    left: 0px;
}

#app-mount .select-timestamp {
    background: var(--input-background);
}

/* better format toolbar */
#app-mount .bf-toolbar::before {
    background: black;
}
