/**
 * @name Vitrify
 * @description "blurry discord" Theme for discord, Glasscord recommended to use the full extend of this theme
 * @author lifegrain#3569
 * @authorId 141101088521715712
 * @version 0.7.6
 * @source https://gitlab.com/lifegrain/Vitrify
 * @updateUrl https://gitlab.com/lifegrain/Vitrify/-/raw/master/Vitrify.theme.css
**/

/* imports =================================================================== */
/* base, keep this if you want it updated automatically*/
@import url('https://lifegrain.gitlab.io/Vitrify/modules/Base.css');

/* unorganized selectors, until it can be cleaned up properly I have to use this */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/unorganized.css');

/* ============================================= */
/* add-ons to the theme (enable/disable based on your taste) */
/* ============================================= */

/* Theme Update Notice by _david_ */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Theme_Update_Notice_by__david_.css');

/* Sliding Members List */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Sliding_members_list.css');

/* Member List Role Gradient */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Member_list_Role_gradient.css');

/* Channel List Redesign */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Channel_list_redesign.css');

/* Embed Redesign Alexis WyvernZu */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Embed_Redesign_by_Alexis_WyvernZu.css');

/* Settings menu Icons by DevilBro */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Add_Icons_to_Settings_Window_Menus_by_DevilBro.css');

/* Profile Connections Borders by Strencher */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Profile_Connection_Borders_by_Strencher.css');

/* Pin Home Button */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Pin_Home_Button.css');

/* Sticky Add Server and Explore Button */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Sticky_add_server_button_and_explore_button.css');

/* Compact Status Picker */
@import url('https://lifegrain.gitlab.io/Vitrify/modules/add-on/Compact_Status_Picker_by_CorellanStoma.css');

/* ============================================= */
/* plugin imports (enable/disable based on your taste) */
/* ============================================= */

/* ServerFolder by DevilBro (2x transition speed)*/
@import url('https://lifegrain.gitlab.io/Vitrify/modules/plugins/ServerFolder_by_DevilBro.css');

:root {
	/* Glasscord Properties */
	/* possible values for these properties can be found here: https://github.com/AryToNeX/Glasscord#hey-buddy-i-am-a-theme-creator-how-should-i-support-glasscord-in-my-own-themes */

	/* Windows */
	--glasscord-win-blur: blurbehind;

	/* Linux */
	--glasscord-linux-blur: true;

	/* macOS */
	--glasscord-macos-vibrancy: fullscreen-ui;
	
	/* Background image/color and filter */
	--background-color: rgba(0, 0, 0, 0.55);
	/*--background-image-url: url('https://cdn.discordapp.com/attachments/327481709006159881/886511299004092427/Ok.png');
	--background-filters: blur(15px);*/
}

/* theme ============================================================= */

.theme-dark {
	/* background colors */
	--background-main: var(--background-color);
	--background-primary: var(--background-main);
	--background-secondary: rgba(0, 0, 0, 0.1);
	--background-secondary-alt: rgba(0, 0, 0, 0.2);
	--background-tertiary: transparent;
	--background-panels: rgba(0, 0, 0, 1);
	--background-sidebar: rgba(30, 30, 30, 0.8);
	--background-member-list: rgba(40, 40, 40, 0.5);

	--background-accent: rgba(70, 70, 100, 1);
	--background-accent-bright: rgba(100, 100, 130, 1);
	--background-accent-moderate: rgb(92, 80, 120);
    	--brand-experiment: var(--background-accent); /* rebrand accent color */

	--background-round-btn: pink; /* unused as for now */

	--background-floating: black;
	--background-floating-header: black;

	--background-attachment: rgba(50, 50, 50, 0.75);

	--background-textbox: transparent;

	--background-titlebar: rgba(0, 0, 0, 0.35);

	--background-scrollbar: rgba(255, 255, 255, 0.2);
	--background-scrollbar-track: rgba(0, 0, 0, 0.085);

	--background-channel-hover: rgba(255, 255, 255, 0.05);
	--background-channel-active: rgba(255, 255, 255, 0.075);
	--background-channel-selected: rgba(255, 255, 255, 0.1);

	--background-message-hover: rgba(0, 0, 0, 0.3);

	--background-server-popout-color: rgba(25, 25, 25, 0.25);
	--background-server-popout-blur-amount: 15px;

	--background-lights-out: rgba(0,0,0,0.25);
	--background-lights-out-blur-amount: 5px;

	--background-mentions-popout-blur-amount: 10px;

	--background-richpresence-playing-color: rgb(150, 90, 200);

	--background-chatinput-voiceuser-color: rgba(50, 50, 50, 0.95);

	--background-active-button: rgb(48, 130, 93);

	--modal-background: radial-gradient(rgba(70, 70, 100, 0.7), rgba(0, 0, 0, 0.7) 80%);
	--modal-border: 1px solid rgba(92, 80, 120, 0.7);
	--modal-border-radius: 10px;
	--modal-blur-backdrop: 5px;

	/* text colors */
	--text-normal: #ddd;
	--text-faded: rgb(175, 175, 175);
	--text-bright: #eee;
    --text-positive: var(--background-active-button);

	--channel-normal: #999;
	--channel-muted: #9999;
	--channel-selected: #ccc;
	
	/* ========================================================= */
	/* plugins */
	/* ========================================================= */
}

/* don't touch these unless you know what you're doing */
:root {
	--header-primary: var(--text-bright);
	--header-secondary: var(--text-faded);
	--text-muted: var(--text-faded);
	--channels-default: var(--channel-normal);
	--interactive-normal: var(--text-faded);
	--interactive-hover: var(--channel-selected);
	--interactive-active: white;
	--interactive-muted: var(--channel-muted);
	--background-primary: var(--background-main);
	--background-secondary: rgba(0, 0, 0, 0.1);
	--background-secondary-alt: rgba(0, 0, 0, 0.2);
	--background-tertiary: transparent;
	--background-modifier-hover: var(--background-channel-hover);
	--background-modifier-active: var(--background-channel-active);
	--background-modifier-selected: var(--background-channel-selected);
	--background-modifier-accent: var(--background-textbox);
	--elevation-stroke: transparent;
	--elevation-low: none;
	--channeltextarea-background: var(--background-textbox);
	--deprecated-quickswitcher-input-background: var(--background-textbox);
	--deprecated-quickswitcher-input-placeholder: var(--text-faded);
	--deprecated-text-input-bg: var(--background-textbox);
	--deprecated-text-input-border: transparent;
	--deprecated-text-input-border-hover: transparent;
	--deprecated-text-input-border-disabled: transparent;
	--deprecated-text-input-prefix: var(--text-normal);
	--floating-background-popout: rgba(100, 100, 100, 0.2);

	--version-076: none;
	/* plugins */
}