:root {
    /* Categories */
    --hover-color: var(--channel-selected);
    --line-thickness: 2px;
    --line-position: 6px;
    --line-length: 75%;

    /* channels */
    --channel-border-color: var(--interactive-active);
    --channel-hover-background: var(--background-secondary);
    --channel-selected-background: var(--background-secondary-alt);

    --total-left-padding: 16px;
    --left-position: 3px;
    --hover-box-glow: 5px;
    --selected-border-width: 3px;

    /* threads */
    --indent-depth: 27px;
}

/*
#############################################################
Channel Category
#############################################################
*/

/* make category flex */
.containerDefault-3TQ5YN h2 {
    display: flex;
}

/* the "line" on the right of category name */
.containerDefault-3TQ5YN h2::after {
    content: "";
    position: relative;
    left: 5px;
    top: var(--line-position);
    background: linear-gradient(to right, currentcolor, transparent calc(var(--line-length) * 0.75));
    flex-grow: 1;
    height: var(--line-thickness);
}
/* ditto, hover */
.containerDefault-3TQ5YN .clickable-2AoIYN:hover h2::after {
    background: linear-gradient(to right, var(--hover-color), transparent var(--line-length));
}

/* the "line" on the left of category name */
.containerDefault-3TQ5YN h2::before {
    content: "";
    position: relative;
    right: 5px;
    top: var(--line-position);
    background: linear-gradient(to left, currentcolor, transparent calc(var(--line-length) * 0.75));
    flex-grow: 1;
    height: var(--line-thickness);
}
/* ditto, hover */
.containerDefault-3TQ5YN .clickable-2AoIYN:hover h2::before {
    background: linear-gradient(to left, var(--hover-color), transparent var(--line-length));
}

/*
#############################################################
Channel List
#############################################################
*/

/* channel unread pill */
.unread-36eUEm {
    border-radius: 0;
    top: 14%;
    width: 3px;
    height: 95%;
}

/* Channel Shape and Size */
.containerDefault-YUSmu3 .content-1gYQeQ {
    border-radius: 0;
    margin-left: 0px;
    padding-left: var(--total-left-padding);
}

/* Channel on hover background */
.containerDefault-YUSmu3 .iconVisibility-vptxma.wrapper-NhbLHG:hover .content-1gYQeQ {
    background: var(--channel-hover-background);
}

/* Channel on hover glow */
.containerDefault-YUSmu3 .iconVisibility-vptxma.wrapper-NhbLHG:hover .content-1gYQeQ::after {
    content: "";
    position: absolute;
    height: 100%;
    filter: brightness(150%);
    width: calc(100% - calc(var(--left-position) * 2));
    left: var(--left-position);
    animation: hover-glow 1s ease-in-out infinite alternate;
    box-shadow: 0 0 var(--hover-box-glow) 0 var(--channel-border-color);
    z-index: -1;
}

/* the animation for channel hover glow */
@keyframes hover-glow {
    0% {box-shadow: 0 0 var(--hover-box-glow) 0 var(--channel-border-color);}
    100% {box-shadow: 0 0 calc(var(--hover-box-glow) + 3px) 0 var(--channel-border-color);}
}

/* channel selected border and text glow */
.containerDefault-YUSmu3.selected-2TbFuo .iconVisibility-vptxma.wrapper-NhbLHG .content-1gYQeQ,
.containerDefault-YUSmu3 .iconVisibility-vptxma.wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ {
    background: var(--channel-selected-background);
    margin-left: 0px;
    padding-left: calc(var(--total-left-padding) - var(--selected-border-width));
    border-left: var(--selected-border-width) solid var(--channel-border-color);
    text-shadow: 0 0 2px;
}

/* channel selected background */
.containerDefault-YUSmu3.selected-2TbFuo .iconVisibility-vptxma.wrapper-NhbLHG .content-1gYQeQ:before,
.containerDefault-YUSmu3 .iconVisibility-vptxma.wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ:before {
    content:"";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, var(--channel-border-color) 0%, transparent 3%);
    animation: glow-pulse 1.8s ease-in-out infinite alternate;
    background-size: 500% 500%;
    z-index: -1;
}

/* the animation for channel selected background */
@keyframes glow-pulse {
    0% {background-position-x: 1%}
    100% {background-position-x: 2.5%}
}

/*
#############################################################
Threads list
#############################################################
*/

/* Threads spine */
.spine-29OFwR {
    color: var(--channel-normal);
}

/* Threads name */
.container-1Bj0eq .typeThread-2Aqh6X .content-1gYQeQ .mainContent-20q_Hp {
     margin-left: var(--indent-depth);
}