/*
	==========================================================================================
	General Compact Status Picker look
	==========================================================================================
*/
:root {
    --transition-out: 0.3s 0.2s cubic-bezier(0, 0, 0, 1);
    --transition-in: 0.3s 0s cubic-bezier(0, 0, 0, 1);
    --menu-background: var(--modal-background);
    --menu-border: var(--modal-border);
    --menu-border-radius: var(--modal-border-radius);
    --menu-blur-backdrop: var(--modal-blur-backdrop);
    --text-color: white;
    --icon-size: 25px;
}

/* makes all the inside rounded and text color white*/
#status-picker .item-1OdjEX {
    color: var(--text-color);
    border-radius: var(--menu-border-radius);
    width: 100%;
}

/*
	==========================================================================================
	Status Picker
	==========================================================================================
*/
:root {
    --online-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
    --idle-color: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
    --dnd-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
    --invisible-color: hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%);
    --glow-blur: 15px;
}

/* stops default item focused background color */
#app-mount #status-picker-online.focused-3qFvc8, #app-mount #status-picker-idle.focused-3qFvc8, #app-mount #status-picker-dnd.focused-3qFvc8, #app-mount #status-picker-invisible.focused-3qFvc8, /* edge-case */
#app-mount #status-picker-online.colorDefault-CDqZdO:active:not(.hideInteraction-1iHO1O), #app-mount #status-picker-idle.colorDefault-CDqZdO:active:not(.hideInteraction-1iHO1O), #app-mount #status-picker-dnd.colorDefault-CDqZdO:active:not(.hideInteraction-1iHO1O), #app-mount #status-picker-invisible.colorDefault-CDqZdO:active:not(.hideInteraction-1iHO1O) {
    background: transparent;
}

/* status picker color and glow transition, unfocused */
#app-mount #status-picker-online .status-2DiCMd, #app-mount #status-picker-idle .status-2DiCMd, #app-mount #status-picker-dnd .status-2DiCMd, #app-mount #status-picker-invisible .status-2DiCMd, #app-mount #status-picker-online, #app-mount #status-picker-idle, #app-mount #status-picker-dnd, #app-mount #status-picker-invisible {
    transition: var(--transition-out);
}

/* ditto, focused */
#app-mount #status-picker-online.focused-3qFvc8 .status-2DiCMd, #app-mount #status-picker-idle.focused-3qFvc8 .status-2DiCMd, #app-mount #status-picker-dnd.focused-3qFvc8 .status-2DiCMd, #app-mount #status-picker-invisible.focused-3qFvc8 .status-2DiCMd, #app-mount #status-picker-online.focused-3qFvc8, #app-mount #status-picker-idle.focused-3qFvc8, #app-mount #status-picker-dnd.focused-3qFvc8, #app-mount #status-picker-invisible.focused-3qFvc8 {
    transition: var(--transition-in);
}

/*
	########### Online Status Picker
*/
/* status picker online glow, unfocused */
#app-mount #status-picker-online {
    filter: drop-shadow(0 0 0px var(--online-color));
}

/* ditto, focused */
#app-mount #status-picker-online.focused-3qFvc8 {
    filter: drop-shadow(0 0 var(--glow-blur) var(--online-color));
}

/*
	########### Idle Status Picker
*/
/* status picker idle glow, unfocused */
#app-mount #status-picker-idle {
    filter: drop-shadow(0 0 0px var(--idle-color));
}

/* ditto, focused */
#app-mount #status-picker-idle.focused-3qFvc8 {
    filter: drop-shadow(0 0 var(--glow-blur) var(--idle-color));
}

/*
	########### DND Status Picker
*/
/* status picker dnd glow, unfocused */
#app-mount #status-picker-dnd {
    filter: drop-shadow(0 0 0px var(--dnd-color));
}

/* ditto, focused */
#app-mount #status-picker-dnd.focused-3qFvc8 {
    filter: drop-shadow(0 0 var(--glow-blur) var(--dnd-color));
}

/*
	########### Invisible Status Picker
*/
/* status picker invisible glow, unfocused */
#app-mount #status-picker-invisible {
    filter: drop-shadow(0 0 0px var(--invisible-color));
}

/* ditto, focused */
#app-mount #status-picker-invisible.focused-3qFvc8 {
    filter: drop-shadow(0 0 var(--glow-blur) var(--invisible-color));
}

/*
	==========================================================================================
	Custom Status & Account Switch
	==========================================================================================
*/
/* makes the items flex */
#status-picker-custom-status .statusItem-2hiCNB, #status-picker-switch-account .statusItem-2hiCNB {
    display: flex;
    justify-content: center;
}

/* fixes custom status height */
#status-picker-custom-status .statusItem-2hiCNB {
    height: 34px;
}

/* makes icon bigger and change color */
#status-picker-custom-status .customEmoji-1nCP1t, #app-mount #status-picker #status-picker-switch-account .switchAccountsIcon-36imMT {
    background-color: white !important;
    height: var(--icon-size);
    width: var(--icon-size);
    min-width: var(--icon-size);
}

/* makes the custom status text and clear button default position */
#status-picker-custom-status .customText-36Uwzc {
    flex-grow: 1;
}

/* label text, unfocused */
#status-picker-custom-status .status-3TYC5W, #status-picker-switch-account div.status-3TYC5W {
    display: block;
    width: 0;
    overflow: hidden;
    transition: width var(--transition-out);
    height: 18px;
}

/* fix switch account beta tag not showing */
#status-picker-switch-account div.status-3TYC5W .betaTag-3pnIxA {
    display: inline-flex;
}

/* ditto, focused */
#status-picker-custom-status.focused-3qFvc8 .status-3TYC5W, #status-picker-switch-account.focused-3qFvc8 div.status-3TYC5W {
    width: 100%;
    transition: width var(--transition-in);
}

/* stops the account switch arrow icon from jiggling and making icon not-centered*/
#status-picker-switch-account .iconContainer-1-SsTR {
    position: absolute;
    right: 8px;
}

/* ================================================================================
	fixes
    ================================================================================
*/
/* status picker (flexed) */
#status-picker>.scroller-1bVxF5 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
}

/* custom status & switch account item */
#status-picker-custom-status, #status-picker #status-picker-custom-status+.separator-1So4YB+div {
    flex: 1 1 100%;
}

/* statuses icons */
#status-picker-online, #status-picker-idle, #status-picker-dnd, #status-picker-invisible {
    flex: 1 1 calc(25% - 2px);
    display: flex;
    justify-content: center;
    height: 40px;
}

/* statuses icon*/
#status-picker-online .statusItem-2hiCNB, #status-picker-idle .statusItem-2hiCNB, #status-picker-dnd .statusItem-2hiCNB, #status-picker-invisible .statusItem-2hiCNB {
    width: fit-content;
    display: flex;
    padding: 0;
    justify-content: center;
}

/* statuses description */
#status-picker .item-1OdjEX:not(#status-picker-custom-status, #status-picker-switch-account) .status-3TYC5W {
    display: none;
}

#status-picker .description-3Cwkxk {
    display: none;
}

#status-picker .separator-1So4YB {
    display: none;
}

/* Custom status and switch account icon & label gap */
.statusItem-2hiCNB {
    column-gap: 5px;
}

/* statuses icon size */
#status-picker .mask-2Me5HY {
    height: 50%;
    width: auto;
}

/* ================================================================================
	original code from here onwards
	================================================================================
*/
#status-picker .customEmojiPlaceholder-3mRJqA {
    background-image: none;
    background-color: var(--interactive-normal);
    mask: var(--icon) center/contain no-repeat;
    -webkit-mask: var(--icon) center/contain no-repeat;
    width: 22px;
    height: 22px;
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M11.99,2C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M8.5,8C9.33,8,10,8.67,10,9.5 S9.33,11,8.5,11S7,10.33,7,9.5S7.67,8,8.5,8z M16.75,14.75C15.8,16.39,14.03,17.5,12,17.5s-3.8-1.11-4.75-2.75 C7.06,14.42,7.31,14,7.69,14h8.62C16.7,14,16.94,14.42,16.75,14.75z M15.5,11c-0.83,0-1.5-0.67-1.5-1.5S14.67,8,15.5,8 S17,8.67,17,9.5S16.33,11,15.5,11z'/%3E%3C/svg%3E");
}

#status-picker .colorDefault-CDqZdO.focused-3qFvc8 .customEmojiPlaceholder-3mRJqA {
    background: var(--interactive-active);
}

#status-picker .switchAccountsIcon-36imMT {
    background-image: none;
    background-color: var(--interactive-normal);
    mask: var(--icon) center/contain no-repeat;
    -webkit-mask: var(--icon) center/contain no-repeat;
    width: 22px;
    height: 22px;
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M17,20H4V7c0-0.55-0.45-1-1-1S2,6.45,2,7v13c0,1.1,0.9,2,2,2h13c0.55,0,1-0.45,1-1S17.55,20,17,20z M20,2H8 C6.9,2,6,2.9,6,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M14,5c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3 s-3-1.34-3-3C11,6.34,12.34,5,14,5z M7.76,16c1.47-1.83,3.71-3,6.24-3s4.77,1.17,6.24,3H7.76z'/%3E%3C/g%3E%3C/svg%3E");
}

#status-picker .colorDefault-CDqZdO.focused-3qFvc8 .switchAccountsIcon-36imMT {
    background: var(--interactive-active);
}

#status-picker-custom-status, #status-picker-switch-account {
    margin-top: 12px !important;
}

#status-picker-custom-status::after {
    content: "";
    background: var(--background-modifier-accent);
    position: absolute;
    top: -6px;
    left: 2px;
    width: 98%;
    height: 1px;
    pointer-events: none;
}

#status-picker-switch-account::after {
    content: "";
    background: var(--background-modifier-accent);
    position: absolute;
    top: -6px;
    left: 2px;
    width: 98%;
    height: 1px;
    pointer-events: none;
}

#status-picker-switch-account--manage-accounts::after {
    content: "";
    background: var(--background-modifier-accent);
    position: absolute;
    top: -7px;
    left: 2px;
    width: 98%;
    height: 1px;
    pointer-events: none;
}

#status-picker-dnd::after, #status-picker-idle::after, #status-picker-online::after {
    content: "";
    background: var(--background-modifier-accent);
    position: absolute;
    top: 6px;
    left: 50px;
    width: 1px;
    height: 24px;
    pointer-events: none;
}
