/*Embeds*/
:root{
    --embed-line-width: 56px;
}
.embedFull-1HGV2S {
    border-left: calc(4px + var(--embed-line-width)) solid;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 10%, var(--background-secondary-alt) 100%);
    z-index: 1;
}
.embedFull-1HGV2S:after, .embedFull-1HGV2S:before{
    content: "";
    height: 100%;
    width: var(--embed-line-width);
    position: absolute;
    top: 0;
    left: calc( -1 * var(--embed-line-width));
    z-index: -1;
}
.grid-1aWVsE {
    margin-left: calc( -1 * var(--embed-line-width));
}

.embedFull-1HGV2S:after {
    background: linear-gradient(to right, rgba(0,0,0,0.015), rgba(0,0,0,1) 100%);
}
.embedFull-1HGV2S:before {
    background: rgba(0,0,0,0.8);
}