:root {
    --border-top-width: 3px;
    --margin-top-reduction: calc(var(--border-top-width) * -1);
    --height: calc(15vh + var(--border-top-width));
    --width: 95%;
    --border-radius: 5px;
}

/* Role Group Name */
.membersGroup-2eiWxl > span[aria-hidden=true] {
    text-shadow: 0px 0px 5px currentColor;
    transition: 0.15s 0.4s cubic-bezier(0,0,0,1);
}
/* ditto, hover */
.membersWrap-3NUR2t:hover .membersGroup-v9BXpm > span[aria-hidden=true] {
    text-shadow: 0 0 0 currentColor;
    transition: 0.1s 0.1s cubic-bezier(0,0,0,1);
}

/* The Bright Line */
.membersGroup-2eiWxl > span[aria-hidden=true]::after {
    position: absolute;
    content: "";
    border-top-width: var(--border-top-width);
    border-top-style: solid;
    border-top-color: currentColor;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin-top: var(--margin-top-reduction);
    left: 5%;
    width: var(--width);
    transition: 0.15s 0.35s cubic-bezier(0,0,0,1);
}
/* ditto, hover */
.membersWrap-3NUR2t:hover .membersGroup-2eiWxl > span[aria-hidden=true]::after {
    border-top-width: 0px;
    transition: 0.1s 0.15s cubic-bezier(0,0,0,1);
}

/* The Gradient background */
.membersGroup-2eiWxl > span[aria-hidden=true]::before {
    position: absolute;
    content: "";
    margin-top: var(--margin-top-reduction);
    left: 5%;
    background-image: linear-gradient(currentcolor, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%);
    filter: brightness(120%);
    transition: 0.15s 0.4s cubic-bezier(0,0,0,1);
    width: var(--width);
    height: var(--height);
    opacity: 35%;
}
/* ditto, hover */
.membersWrap-3NUR2t:hover .membersGroup-2eiWxl > span[aria-hidden=true]::before {
    height: 0px;
    transition: 0.1s 0.1s cubic-bezier(0,0,0,1);
}