/*pin home button*/
.guilds-2JjMmN .tree-2wKJdG:focus {
  outline-color: transparent;
}
.guilds-2JjMmN .scroller-3X7KbA {
  contain: unset;
  margin-top: 56px;
}
.guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-1pL9QS {
  position: fixed;
  transform: translatey( -100% );
}

/* server unread mentions top indicator */
/* moves it down and remove padding that covers other button*/
.unreadMentionsIndicatorTop-2bTgUU {
    top: 48px;
    padding: 0 unset;
}