.unreadMentionsIndicatorTop-2-tcdU {
	padding: 0;
    height: fit-content;
}

.unreadMentionsIndicatorTop-2-tcdU .active-1SSsBb {
    border-radius: 0;
}

.unreadMentionsIndicatorBottom-2mDYbI {
	padding: 0;
    height: fit-content;
}

.unreadMentionsIndicatorBottom-2mDYbI .active-1SSsBb {
    border-radius: 0;
}