:root {
    --unread-server-color: 238, 238, 238;
    --hover-server-color: 210, 56, 108;
    --active-server-color: 0, 161, 112;
	
	--glow-blur: 10px;
	--glow-spread: 2px;
	--glow-strength: 35%;
}

.blobContainer-pmnxKB:active {
  transform: none;
}

/* pill container */
#app-mount [class*=pill] {
  left: 50%;
  top: 50%;
  transform: translate(-52.5%, -49.5%);
  width: 47px;
  height: 48px;
  overflow: visible;
  margin-left: -2px;
}

/* pill shape */
#app-mount [class*=pill] .item-2hkk8m {
  height: 100% !important;
  width: 100%;
  margin: 0;
  border-radius: 35%;
  background: transparent;
  border: 3px solid rgb(var(--unread-server-color));
  transform: none !important;
  transition: linear 0.05s 0s;
}

/* pill unread */
#app-mount [class*=pill] span[style*="height: 0"] {
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--unread-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 1"] {
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--unread-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 2"] {
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--unread-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 3"] {
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--unread-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 4"] {
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--unread-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 5"] {
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--unread-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 6"] {
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--unread-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 7"] {
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--unread-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 8"] {
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--unread-server-color), var(--glow-strength));
}

/* pill hover */
#app-mount [class*=pill] span[style*="height: 9"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 10"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 11"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 12"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 13"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 14"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 15"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 16"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 17"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 18"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 19"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 20"] {
  border-color: rgba(var(--hover-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--hover-server-color), var(--glow-strength));
}

/* pill active */
#app-mount [class*=pill] span[style*="height: 21"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 22"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 23"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 24"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 25"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 26"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 27"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 28"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 29"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 30"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 31"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 32"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 33"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 34"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 35"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 36"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 37"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 38"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 39"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}
#app-mount [class*=pill] span[style*="height: 40"] {
  transform: scale(1) !important;
  border-color: rgba(var(--active-server-color));
  box-shadow: 0 0 var(--glow-blur) var(--glow-spread) rgba(var(--active-server-color), var(--glow-strength));
}