/* member list + channel details area */
.container-2o3qEW,
.membersWrap-3NUR2t {
    min-width: 75px;
    width: 75px;
    transition: var(--transition-out);
}
/* ditto, hover */
.container-2o3qEW:hover,
.container-2o3qEW:hover .membersWrap-3NUR2t,
.membersWrap-3NUR2t:hover {
    width: 240px;
    transition: var(--transition-in);
}

/* member list content width fix */
#app-mount .membersWrap-3NUR2t > div,
#app-mount #MemberCount {
    width: 100%;
    min-width: 75px;
    transition: none;
}

/* member count plugin fix */
#app-mount #MemberCount .membercount-row {
    display: contents;
}

#app-mount #MemberCount h2 {
    width: 100%;
    text-align: center;
}