:root{
    --tint-background: var(--background-secondary-alt);
}

/* Makes space for the button at the bottom */
.guilds-2JjMmN .scroller-3X7KbA {
    contain: unset;
    margin-bottom: 130px;
}

/* Add server Button */
.tutorialContainer-35RLOQ,
.tutorialContainer-2jwoiB {
    position: fixed;
    bottom: 55px;
}

/* Explore Button */
.tutorialContainer-35RLOQ+div,
.tutorialContainer-2jwoiB+div {
    position: fixed;
    bottom: 0px;
}

/* background box */
.tutorialContainer-35RLOQ::before,
.tutorialContainer-2jwoiB::before {
    position: absolute;
    content: "";
    height: 130px;
    width: 100%;
    bottom: -55px;
    background-color: var(--tint-background);
}

/* server unread mention bottom indicator */
/* moves it up and remove padding covering button */
.unreadMentionsIndicatorBottom-3RJMnQ {
    bottom: 122px;
    padding: 0 unset;
}
