.wordmark-2u86JB::before {
    content: "Your version of Vitrify is outdated. Please download the newest version from: https://lifegrain.gitlab.io/Vitrify/Vitrify.theme.css";
    display: var(--version-076, block);
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 100vw;
    position: absolute;
    top: 1px;
}